/* styles/globals.css hoặc tương tự */
.scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
